<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#080433'"
            [innerStrokeColor]="'#33348a'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>  
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/css-3.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#080433'"
            [innerStrokeColor]="'#33348a'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/html-5.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#080433'"
            [innerStrokeColor]="'#33348a'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/teamwork.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#080433'"
            [innerStrokeColor]="'#33348a'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/choice.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#080433'"
            [innerStrokeColor]="'#33348a'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/creativity.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#080433'"
            [innerStrokeColor]="'#33348a'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>

    


</div> 