<div class="row">
    <h1> Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2> Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aut, itaque magnam magni at quibusdam dolore tempore. Esse quam ullam ratione, labore, culpa reiciendis ad laudantium, aliquam a eveniet fugiat!</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/proyecto1.jpg" class="img-fluid" class="img-proyecto1">


        </div>




    </div>



</div>